#alpha-tree.window-app,
#alpha-browser.window-app,
#alpha-settings.window-app,
#alpha-help.window-app
{
    max-width: 80%;
    max-height: 90%;
    .window-content {
      padding: 0px;
      overflow-y: hidden;
      background: var(--window-background);
    }
}
